#receipt {    	
    height: 1150px;
	margin-top: 0px;
}
/*-----------------------------------*/

/*The container contains the whole form*/
#receipt .container {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    position: absolute;
    margin-top: 580px;
    left: 50%;
    width: 800px;
	height: 820px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: #F2F0EA;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.7);
    border-radius: 10px;
}

#confirmedMessageHeader {
  text-align: center;
}

#cusInfo {
	width: 50%;
	float: left;
}

#shippingDetails {
	width: 50%;
	float: right;
}

#detailsContainer {
	height: 21em;
}

#productTable {
	width: 100%;
	text-align: center;
}

/* Modify the width of the columns of the product table */
#productTableIDColumn {
	width: 12%
}

#productTableOrderTimeColumn {
	width: 15%
}

#productTableOrderStatusColumn {
	width: 15%
}
#productTableProductColumn {
	width: 21%;
}

#productTablePriceColumn {
	width: 12.5%;
}

#productTableQuantityColumn {
	width: 12%;
}

#productTableTotalColumn {
	width: 12.5%;
}

/* Specify the product table's border style */
#productTable, #productTable th, #productTable td {
	border: 1px solid black;
	border-collapse: collapse;
}

/* Modify the height of each cell of the product table */
#productTable tr th, #productTable tr td {
	height: 30px;
}

/* Wrap the text of the comment, so it will not overflow the container */
#receiptComment {
	word-wrap: break-word;
}
