/* Apply a background color to the body */
body {
  background-color: #f8f8ef;
  margin-top: 170px;
}

/* Center the form container */
#searchOptionsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Style form groups */
.formGroup {
  margin: 10px;
}

/* Style input fields */
input[type="text"],
select {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  background-color: #fff;
  color: #333;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
}

/* Style submit button */
.confirmButton {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.confirmButton:hover {
  background-color: #555;
}

/* Style delete button */
.deleteButton {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  font-size: 0.8rem;
  background-color: #ff5b5b;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.deleteButton:hover {
  background-color: #ff7b7b;
}

.deleteButton[disabled] {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Style update button */
.updateButton {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  font-size: 0.8rem;
  background-color: #55c57a;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.updateButton:hover {
  background-color: #7dd1a8;
}

/* Style table */
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 10px;
  text-align: left;
  
}

th {
  background-color: #333;
  color: #fff;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}