@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css"; 
* { 
   font-family: 'Lora', serif;
}

        /* Header - Author: Nguyen Ngo Thanh Long */

header {
    position: fixed;
    z-index: 10;
    width: 100%;
    min-width: 900px;
    height: 120px;
    top: 8px;
    margin: -8px -8px 50px -8px;
    background-color: #f8f8ef
}

/*set static width and align main_header in the center*/
header #main_header {    
    margin: 0 auto;
    width: 1200px;
}

header #main_header #logo img {
    margin: 5px 0 -15px 0;
    width: 200px;
    height: 94px;
}

/*Set search bar position and size*/
header #main_header #search {
    display: inline-block;
    position: relative;
    top: -25px;
    left: 30px;
    width: 100%;
    max-width: 500px;
    min-width: 200px;
    height: 25px;      
}

header #main_header #search form input {
    position: absolute;
    z-index: 1;
    width: 100%;  
    height: 100%; 
    padding: 5px 15px;
    border-width: 1px;
    border-radius: 20px;
}

/*Set search button position above and to the right of the search input*/
header #main_header #search form button {
    position: absolute;
    left: auto;
    right: -35px;
    z-index: 2;
    height: 147%; 
    width: 65px;   
    border-width: 1px;
    border-left: none; 
    border-radius: 0 20px 20px 0;
    background-color: #545454;
    color: #f8f8ef; 
    cursor: pointer;   
}

/*Set position for the cart button*/
header #main_header #cart {
    position: relative;
    top: -10px;
    left: 125px;
    text-decoration: none; 
    color: #545454;
    font-size: 30px;     
}

/*Set position for the 'cart' word*/
header #main_header #cart p {
    display: inline-block;
    position: relative;
    top: -9px;  
    left: 7px;    
}

/*Set position for both login and register button*/
header #main_header #login_register {   
    display: inline-block;
    position: relative;
    top: -22px;
    left: 170px;       
}

header #main_header #login_register a {
    margin: 0 5px;
    border: 2px solid #545454;
    border-radius: 15px;
    padding: 7px 10px;
    background-color: #f8f8ef;
    color:#545454;
    font-size: 20px;
    text-decoration: none;
}

/*Change login and register button as hovering*/
header #main_header #login_register a:hover {
    background-color: #545454;
    color:#f8f8ef;
    transition: 0.3s;
}

/*Navigation bar*/
header nav {
    background-color: #545454;
    margin-top: -37px;
}

/*Align the options group in the center of the nav bar and set static width*/
header #main_nav {
    margin: 0 auto; 
    width: 1200px;
}

/*Remove bullet from list*/
header #main_nav ul {
    list-style-type: none;  
    padding: 0; 
}

/*Set <li> as inline-table to organize them one 1 line*/
header #main_nav ul li {
    display: inline-table;
    color:#f8f8ef;
    width: 150px;
    height: 40px;
    line-height: 40px;
    text-align: center;  
    margin-left: -4px;  
}

/*Remove underline and set <a> to block so that they cover all their parent area*/
header #main_nav ul li a {   
    color:#f8f8ef;
    text-decoration: none;
    display: block; 
}

/*Change nav bar options' style when hovering*/
header #main_nav ul li a:hover {
    background-color: #f8f8ef;
    color: #545454;    
}

header #main_nav ul li .sub_menu{
    margin-left: 4px;
}

/*Set sub_menu options as block to organize them vertically and set their bottom border*/
header #main_nav ul li .sub_menu li {
    display: block;
    background-color: #545454;
    color:#f8f8ef;
    border-bottom: 1px solid #f8f8ef;   
    text-align: left;   
}

header #main_nav ul li .sub_menu li a {
    padding-left: 20px;
}

/*Set top border for the first sub-option*/
header #main_nav ul li .sub_menu li:first-child {
    border-top: 1px solid #f8f8ef;
}

/*Set top border for the last sub-option*/
header #main_nav ul li .sub_menu li:last-child {
    border-bottom: none;
}

/*Initially hide sub menu*/
header #main_nav ul li .sub_menu {
    display: none;
    position: absolute;      
}

/*Display sub menu when hovering*/
header #main_nav ul li:hover .sub_menu {
    display: block;   
}



        /*Index - Author: Nguyen Tien Hung*/

#index {    
  margin: 0 -8px 50px -8px;
  height: fit-content;
  min-width: 1200px;  
}

#index a{
  text-decoration: none;
}

#index .content{
  margin-bottom: 30px;
}

#index .intro{
  margin-top: 133px;
  position:relative;
  overflow:hidden;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  height: 55vw;
  min-height:400px;
  max-height:550px;
  min-width:300px;
  color:#eee;
}

#index .intro:after{
  content:"";
  width:100%;
  height:100%;
  position:absolute;
  bottom:0;
  left:0;
  z-index:-1;
  background: linear-gradient(to bottom, rgba(0,0,0,0.12) 40%,rgb(112, 100, 65) 100%);
}

#index .intro:before{
  content:"";
  width:100%;
  height:200%;
  min-width: 1200px;
  position:absolute;
  top:0;
  left:0;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0); backface-visibility: hidden;
  scale: (1.0, 1.0);
    transform: translateZ(0);
  background: rgb(149, 132, 87) url(images/esstisch-form-s.png) 50% 0 no-repeat; /*img source: https://cdn.shopify.com/s/files/1/0242/4607/articles/esstisch-form-s.jpg?v=1664266044*/
  background-size:100%;
  background-attachment:fixed;
  animation: grow 360s  linear 10ms infinite;
  transition:all 0.4s ease-in-out;
  z-index:-2
}

@keyframes grow{
  0% { transform: scale(1) translateY(0px)}
  50% { transform: scale(1.2) translateY(-400px)}
}   

#index .intro a{
  color:#eee
}

#index .info{
  width: 100%;
  padding: 150px 10% 0 10%;
  text-align:center;
  text-shadow:0 2px 3px rgba(0,0,0,0.2)
}

#index .info h1{
  text-shadow: 1px 0px 0px black;
  font-size: 2.5em;
}

#index .info h2{
  text-shadow: 1px 0px 0px black;
  letter-spacing: 1px;
  font-size: 1.5em;
}

/* Promotion */
#index #promotion {  
  margin: 100px 0;
  /* position: relative; */
}

#index #promotion img{
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-width: 1100px;
}

/* Feature products */
#index #feature_products {
	max-width: 100rem;
	margin: 0 auto;
	padding: 0 2rem 2rem;
}

#index #feature_products h1 {
	font-size: 4rem;
	font-weight: 500;
	line-height: 1.5;
	text-align: center;
	padding: 3.5rem 0;
	color: #1a1a1a;
}

#index #feature_products .gallery {
	display: flex;
	flex-wrap: wrap;
	/* Compensate for excess margin on outer gallery flex items */
	margin: -1rem -1rem;
}

#index #feature_products .gallery-item {
	/* Minimum width of 24rem and grow to fit available space */
	flex: 1 0 24rem;
	/* Margin value should be half of grid-gap value as margins on flex items don't collapse */
	margin: 1rem;
	box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
	overflow: hidden;
}

#index #feature_products .gallery-image {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 400ms ease-out;
}

#index #feature_products .gallery-image:hover {
	transform: scale(1.15);
}



        /*Products - Author: Vu Quoc Anh*/

/* Pushing the page down 210px,
this CSS rule supports the use of internal links
that lead to the correct placement of the #product headings in the page.*/
html {
	scroll-padding-top: 160px;
}

#product {	
	margin: 180px 0 10px 0;
	width: fit-content;
	min-height: 3650px;
	min-width: 1200px;
} 

#product #container {
	width: 73%;
	float: left;	
	padding: 0;
	margin: 0px 0px 0px 20px;
}

#product .product_genre {
	margin-bottom: 80px;
}

/* stick the aside component to the right side of the screen */
#product aside {
	width: 25%;		
	padding: 0;
	margin: 0;
	border: 1px solid grey;
	float: right;
}

#product ul {
	list-style-type: none;
	width: 100%;	
	padding: 0;
	min-width: 11em;
	margin-top: 0;
	margin-bottom: 0;
}

#product ul li {
	border-bottom: 1px solid grey;	
	border-right: 1px solid grey ;
	text-align: center;
}

#product ul li a {
	display: block;
    text-decoration: none;
	width: 100%;
	height: 100%;
	padding: 12px 0px 12px 0px;
	background-color: #f8f8ef;
	color: #545454;
}

/* Make aside anchor items to change background and text color when hovering over them */
#product ul li a:hover {
    background-color: #545454;
	color: #f8f8ef;
	transition: 0.3s;
}

#product h2 {
	text-align: center;
}

#product h2, h3 {
	color: #545454;
}

#product article {
	width: 95%;
	height: fit-content;
}

/* grid for each product article */
#product .grid_container {
	height: 100%;
	width: 100%;
	display: grid;
	gap: 1.5em 2em;
	grid-template-columns: auto auto auto;
}

#product .product {
	font-size: 30px;
	text-align: center;	
	box-shadow: 1px 1px 1px 1px #545454;
	border-radius: 15px;
	height: fit-content;
	padding-bottom: 30px;
}

/* Create a shadow for a section and round its four corners when hovering over it */
#product .product:hover {
	box-shadow: 3px 3px 3px 3px #545454;
	border-radius: 15px;
	transition: 0.3s;
}

#product .product img{
	border-radius: 15px 15px 0 0;
	width: 100%;
	height: 60%;	
}

#product .product h6, .product p {
	height: 13%;
	margin: 0;
	width: 100%;
	text-align: center;
	font-size: 0.6em;
	justify-content: center;
    align-items: center;
    display: flex;
}

#product .product h6 {
	font-weight: lighter;
}

#product .product a {	
	padding: 5px 35px 5px 35px;
	margin: 0;
	width: 60px;
	height: 30px;
	border: 1px solid black;
	background-color: #545454;
	color: #f8f8ef;
	font-size: 17px;
	border-radius: 15px;
	justify-content: center;
    align-items: center;
	text-decoration: none;
}

/* Create a shadow for a button when hovering over it */
#product .product a:hover {
	box-shadow: 1px 1px 1px 1px #545454;
	background-color: #f8f8ef;
	color: #545454;
	transition: 0.3s;
}

#product .product .product_price {
	font-weight: bold;
	line-height: 50px;
}

#product .product .product_name {
	margin-top: 20px;
}

#product table {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
}

/* Define border format for the table */
#product table, #product th, #product td {
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center;
	padding: 10px 15px 10px 15px;
}

#product ol li {
	padding: 5px 0px 5px 0px;
	margin-left: 43%;
	margin-right: 43%;
}



        /*Enquire - Author: Vo Thanh Tam*/

/*Setting the overview for the page*/
#payment {    
    margin-top: 500px;
    height: 1300px;
}
/*-----------------------------------*/

/*The container contains the whole form*/
#payment .container {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    position: absolute;
    margin-top: 450px;
    left: 50%;
    width: 800px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: #F2F0EA;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.7);
    border-radius: 10px;
}
/*-----------------------------------*/

/*setting user-box to relative to make it adjustable*/
#payment .container .user-box {
    position: relative;
}
/*-----------------------------------*/

/*setting user-select-box with paddings*/
#payment .container .user-select-box {
    position: relative;
    padding: 6px 0 16px;
}
/*-----------------------------------*/

/*setting User Interface for the input field*/
#payment .inputAnimation{
    width: 100%;
    padding: 10px 0;
    font-size: 14px;
    color: black;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #545454;
    outline: none;
    background: transparent;
}
/*-----------------------------------*/

/*setting User Interface and Transition effect for the label*/
#payment .labelAnimation {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #545454;
    pointer-events: none;
    transition: .5s;
}
/*-----------------------------------*/

/*transition effect for the page*/

/*if we click the input field, the animation will happen*/
/*if we leave the input area with a valid input, the transformed animation will stay*/
#payment .inputAnimation:focus ~ .labelAnimation,
#payment .inputAnimation:valid ~ .labelAnimation{
    top: -20px;
    left: 0;
    color: #545454;
    font-size: 12px;
}
/*-----------------------------------*/

/*Setting fieldset and legend CSS*/
#payment fieldset {
    padding: 20px 20px 20px 20px;
    margin-bottom: 30px;
}

#payment legend{
    font-weight: 600;
    font-size: larger;
}
/*-----------------------------------*/

/*setting CSS for the input living state*/
/* #payment #labelState{
    font-size: 16px;
    color: #545454;
} */
/*-----------------------------------*/

/*setting CSS for the select boxes*/
#payment .selectLabelAnimation{
    font-size: 16px;
    color: #545454;
}
/*--------------------------------*/

/*setting CSS for prefered contact field*/
#payment .contact{
    padding-bottom: 20px;
}

#payment .contact p{
    font-size: 16px;
}

#payment input[type="radio"]{
    height: 12px;
    width: 12px;
    border-radius: 50%;
    margin-left: 25px;
    background: #d9d9d9;
}
#payment input[type="radio"]:first-of-type{
    margin-left: 0px;
}
/*-----------------------------------*/

/*setting CSS for enquiry area*/

#payment .enquire{
    margin: 30px 0px;
}

#payment textarea{
    border: 1px solid #888; 
    border-radius: 5px;
    width: 100%;
    padding: 10px;
}

/*-----------------------------------*/

/*setting CSS for submit button*/
#payment input[type="submit"]{
    margin: 20px 42%;
    border: 2px solid #545454;
    border-radius: 10px;
    padding: 7px 10px;
    background-color: #f8f8ef;
    color:#545454;
    font-size: 20px;
    text-decoration: none;   
}

#payment input[type="submit"]:hover{
    background-color: #545454;
    color:#f8f8ef;
    cursor: pointer;
}
/*-----------------------------------*/

/*setting CSS for fix order page*/
#payment .error-mess {
    position: absolute;
    bottom: 35px;
    right: 0;
    padding: 5px 10px;
    background-color: rgb(255, 219, 219);
    font-size: 12px;
    font-weight: bold;
    border: 1px solid red; 
    border-radius: 10px;  
    max-width: 310px;
}

#payment #state-err, #payment #contact_err, #payment #cardtype_err {
    position: static;
    display: inline-block;
    margin-left: 30px;   
}
/*-----------------------------------*/

        /*About - Author: Nguyen Tien Hung*/



#about {
    margin: 0 -8px;
    background-color:rgba(0,0,0,0.10);
    font-size: 1em;
    font-family: 'Lora', serif;
}


#about a, #about a:hover {text-decoration:none;}

#about h2, #about h3, #about h4, #about h5 {margin:0px;}

/* About section */
/* About section container */
#about #about_section {
    margin-top: 133px;
    width:100%; 
    padding:5% 0px;
}

/* Each member profile container */
#about .about_person {
    margin:0px auto;
    display: flex;
    background-color:#fff; 
    width: 1000px;
    height: 500px;
    margin-bottom:100px;
}

/* Member information description */
#about .about_person .description {
    padding:1.65em; 
    width: 40%; 
    text-align: center; 
    position: relative; 
    
}

/* Description headings */
#about .about_person .description a {color:rgba(0,0,0,0.70);}

/* Description details */
#about .about_person .description table{
    margin-top: 30px;
    table-layout: fixed;
    width: 100%;
}

#about .about_person .description table tr{
    height: 30px;
}

#about .about_person .description table tr td {
    float: right;
    color:rgba(0,0,0,0.70); 
    line-height:50px; 
    font-weight:300;
    font-size:16px;
  }

#about .about_person .description table tr td:first-child{
    float: left;
}

/* Member image */
#about .about_person .image {
    overflow:hidden; 
    height: 100%;
    width: 60%;
}

#about .about_person .image img { 
    width:100%; 
    height: 100%;
    float: right;
}

/* Member info social link */
#about .about_person .description .social_link{
    position: absolute;
    left: 30%;
    right: 30%;
    bottom: 30px;
}

#about .about_person .description .fa {
    font-size:18px;
    width:15px;
    height:15px;
    padding:13px;
    border:solid 1px rgba(0,0,0,0.8);
    border-radius:50%;
  }


/* Timetable section */

/* Timetable container */
#about #timetable{
    text-align: center;
    font-family: 'Open Sans', Helvetica;
}

/* #about timatable */
#about .timetable {
   color: #efefef;
   margin: auto;
}

/* Even rows */
#about .timetable tr:nth-child(2n){
    background: #f8f8ef; 
} 
      
/* Odd rows */
#about .timetable tr:nth-child(2n+3){
    background: #fff; 
}

/* Table cells */
#about .timetable th, #about .timetable td {
    padding: 1em; 
    width: 10em;
}

/* Adding mouse visibility when hovering the cells */
#about .timetable td {
    font-weight: 300;
    cursor: pointer;
}

/* Table headings */
#about .timetable .days, #about .timetable .time {
  background: #545454;
  text-transform: uppercase;
  font-size: 0.8em;
  text-align: center;
}

#about .timetable .time {
   width: 3em!important; 
}

/* Subject cells */
#about .timetable .tne10006{
    background: #e74c3c;
}

#about .timetable .cos20007{
    background: #3498db;
}

#about .timetable .cos10026{
    background: #f39c12;
}

#about .timetable .cos20019{
    background: #2ecc71;
}



        /*Enhancement - Author: Nguyen Ngo Thanh Long*/
#enhancement {    
    margin-top: 200px;
    height: 1060px;
}

#enhancement #enhancement_list {   
    margin: 0 auto;
    width: 60%;
    padding: 30px 40px;
    background-color: antiquewhite;
    line-height: 40px;
}

#enhancement #enhancement_list p, #enhancement #enhancement_list ul li {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}




/*footer*/
footer {
    clear: both;
    min-width: 1000px;
    background-color: #F8F8C6;
    text-align: center;
    padding: 10px;
    margin: 0 -8px -16px -8px;
}